.data-grid {
  &__container {
    max-width: 100%;
    position: relative;
    @media only screen and (max-width: 48rem) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

:host ::ng-deep .profile-photo {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  :host ::ng-deep .profile-photo {
    width: 30px;
    height: 30px;
  }
}
