<div
  class="backdrop"
  [ngClass]="{
    show: isVisible
  }"
  (click)="onBackdropClicked()"
></div>
<div
  class="popup"
  [ngClass]="{
    show: isVisible
  }"
>
  <div class="popup__header border-b-gray flex justify-between items-center">
    <h2>{{ popupConfig().title }}</h2>
    <i class="icon-close popup__close" (click)="closePopup()"></i>
  </div>
  <div class="popup__body">
    <ng-content></ng-content>
  </div>
  @if (popupConfig().hasButtons) {
  <div class="popup__footer flex gap-2 border-t-gray">
    @for (button of popupConfig().buttons; track $index) {
    <dx-button
      [text]="button.title"
      (onClick)="(button.action)"
      [type]="button.type"
      [stylingMode]="button.stylingMode"
    >
    </dx-button>
    }
  </div>
  }
</div>
