/* You can add global styles to this file, and also import other style files */

// Global Reset
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #fafafa;
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}
